@tailwind base;
@tailwind components;
@tailwind utilities;

.App {


  padding-left: 15px;
  padding-right: 15px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

iframe#webpack-dev-server-client-overlay{display:none!important}

.slider {
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: cxenter;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.code-input {
  font-family: 'Courier New', monospace; /* Use a monospaced font for code-like appearance */
  font-size: 14px; /* Adjust the font size as needed */
  padding: 10px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Add a border to resemble a code-like box */
  background-color: #f9f9f9; /* Use a light background color */
  border-radius: 5px; /* Add rounded corners for aesthetics */
  width: 1/2; /* Adjust the width as needed */
  outline: none; /* Remove the default outline when focused */
}

/* Optional: Add hover and focus styles */
.code-input:hover {
  border-color: #999;
}

.code-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}